<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{player1}}</th>
            <th scope="col">{{player2}}</th>
            <th scope="col">{{player3}}</th>
            <th scope="col">{{player4}}</th>
        </tr>
         <tr class="sum-row">
            <th scope="row">Sum of score (0)</th>
            <th>-5</th>
            <th>14</th>
            <th>-1</th>
            <th>8</th>
        </tr>
    </thead>
    <tbody id="resultBody">
        <tr>
            <th scope="row">Round<span>1</span></th>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
          <tr>
            <th scope="row">Round<span>1</span></th>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        {{!-- {{#each round}}
        <tr>
            <th>{{round.index}}</th>
            <td>{{p1s}}</td>
            <td>{{p2s}}</td>
            <td>{{p2s}}</td>
            <td>{{p3s}}</td>
        </tr>
        {{/each}} --}}
    </tbody>
</table>
<div class="text-center">
    <button class="btn" id="add">ADD A ROUND</button>
</div>
</div>


<script>
    $(document).ready(function () {
        $("#add").click(function () {
            console.log("#resultBody tr:last-child th>span")
            let index = parseInt($("#resultBody tr:last-child th>span").text(), 10) + 1;
            $("#resultBody").append(`
                <tr>
                    <th>Round <span>${index}</span></th>
                    <td><input type="number"></input></td>
                   <td><input type="number"></input></td>
                    <td><input type="number"></input></td>
                    <td><input type="number"></input></td>
                </tr>
                `)
        })
    });
</script>